<div
  class="hidden lg:flex lg:flex-col h-screen w-80 bg-gray-800 p-6 overflow-y-auto"
>
  <aside
    id="sidebar-multi-level-sidebar"
    class="w-full grow"
    aria-label="Sidebar"
  >
    <div class="bg-gray-800">
      <div class="flex items-center justify-center my-6">
        <avatar />
      </div>

      <ul class="space-y-2 font-medium">
        <sidebar-item title="Dashboard" icon="pi pi-home" link="/" />
        <!-- <sidebar-item
          title="Projects"
          icon="pi pi-star"
          type="link"
          [children]="[
          {
            title: 'Products',
          },
          {
            title: 'xdd',
          },
          {
            title: 'Invoice',
          },
        ]"
        /> -->
      </ul>
    </div>
  </aside>

  <!-- Footer logout button -->
  <p-button
    fluid
    icon="pi pi-sign-out"
    label="Logout"
    (onClick)="logout()"
  ></p-button>
</div>
