<div class="hidden lg:block h-screen w-84 bg-gray-800 p-6 overflow-y-auto">
  <aside id="sidebar-multi-level-sidebar" class="w-full" aria-label="Sidebar">
    <div class="bg-gray-800">
      <div class="flex items-center justify-center my-6">
        <avatar />
      </div>

      <ul class="space-y-2 font-medium">
        <sidebar-item type="link" title="Dashboard" />
        <sidebar-item
          title="Projects"
          type="link"
          [children]="[
          {
            title: 'Products',
          },
          {
            title: 'xdd',
          },
          {
            title: 'Invoice',
          },
        ]"
        />
      </ul>
    </div>
  </aside>
</div>
