<div class="hidden lg:block h-screen w-72 bg-gray-800 p-6 overflow-y-auto">
  <aside id="sidebar-multi-level-sidebar" class="w-full" aria-label="Sidebar">
    <div class="bg-gray-800">
      <div class="flex items-center justify-center my-6">
        <avatar />
      </div>

      <ul class="space-y-2 font-medium">
        <sidebar-item title="Dashboard" icon="pi pi-home" link="/" />
        <!-- <sidebar-item
          title="Projects"
          icon="pi pi-star"
          type="link"
          [children]="[
          {
            title: 'Products',
          },
          {
            title: 'xdd',
          },
          {
            title: 'Invoice',
          },
        ]"
        /> -->
      </ul>
    </div>
  </aside>
</div>
