<div class="mt-6 text-xs">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
  >
    <!-- @for (project of projects; track $index) { -->
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />
    <projects-list-item
      (editClickBtn)="editProject.emit($event)"
      [project]="null"
    />

    <!-- } -->
  </div>
</div>
