<div class="flex flex-col gap-1 w-full">
  <with-error [error]="error()">
    <with-label [inputId]="id()" [label]="label()">
      <textarea
        pTextarea
        rows="5"
        cols="30"
        fluid
        [id]="id()"
        [value]="value()"
        (input)="updateValue($event)"
        [disabled]="disabled()"
        (blur)="onTouched()"
        [ngClass]="{
          'w-full': true,
          'ng-dirty': error(),
          'ng-invalid': error()
        }"
      ></textarea>
    </with-label>
  </with-error>
</div>
