<p-dialog
  [(visible)]="show"
  (visibleChange)="handleVisibleChange($event)"
  [modal]="true"
  [draggable]="false"
  styleClass="w-[25rem] max-w-[90%]"
>
  <ng-template #header>
    <h3 class="text-3xl font-bold">{{ title() }}</h3>
  </ng-template>

  @if (isEditing()){
  <span class="text-surface-500 dark:text-surface-400 block mb-4"
    >Update your information.</span
  >
  }

  <form
    class="flex flex-col gap-4"
    [formGroup]="editForm"
    (ngSubmit)="handleSubmit()"
  >
    <app-input
      formControlName="projectName"
      label="Project name"
      id="projectName"
      [error]="formsService.getFormControlError(editForm, 'projectName')"
    />

    <app-input
      formControlName="repository"
      label="Repository"
      id="projectRepository"
      [error]="formsService.getFormControlError(editForm, 'repository')"
    />

    <app-textarea
      formControlName="description"
      label="Description"
      id="projectDescription"
      [error]="formsService.getFormControlError(editForm, 'description')"
    />
  </form>

  <ng-template #footer>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="handleVisibleChange(false)"
    />
    <p-button
      label="Save"
      type="submit"
      [disabled]="!isValidForm"
      (onClick)="handleSubmit()"
    />
  </ng-template>
</p-dialog>
