<p-dialog
  [(visible)]="show"
  (visibleChange)="handleVisibleChange($event)"
  [modal]="true"
  [draggable]="false"
  styleClass="w-[25rem] max-w-[90%]"
>
  <ng-template #header>
    <h3 class="text-3xl font-bold">{{ title() }}</h3>
  </ng-template>

  @if (isEditing()){
  <span class="text-surface-500 dark:text-surface-400 block mb-8"
    >Update your information.</span
  >
  }

  <form
    class="flex flex-col gap-6"
    [formGroup]="editForm"
    (ngSubmit)="handleSubmit()"
  >
    <app-input
      formControlName="projectName"
      label="Project name"
      id="projectName"
      [error]="formsService.getFormControlError(editForm, 'projectName')"
    />

    <app-input
      formControlName="repository"
      label="Repository"
      id="projectRepository"
      [error]="formsService.getFormControlError(editForm, 'repository')"
    />

    <p-floatlabel variant="on">
      <textarea
        pTextarea
        id="over_label"
        rows="6"
        cols="30"
        style="resize: none"
        class="h-full"
        fluid
        formControlName="description"
      ></textarea>
      <label for="on_label">Description</label>
    </p-floatlabel>

    @if(editForm.controls.description.errors){
    <small id="username-help"
      >Enter your username to reset your password.</small
    >
    }
  </form>

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" />
    <p-button label="Save" type="submit" />
  </ng-template>
</p-dialog>
