<form [formGroup]="editForm" class="grid gap-6">
  <app-input
    formControlName="name"
    label="Name"
    id="name"
    [error]="formsService.getFormControlError(editForm, 'name')"
  />

  <app-input
    formControlName="lastName"
    label="Last name"
    id="lastName"
    [error]="formsService.getFormControlError(editForm, 'lastName')"
  />

  <app-input
    formControlName="userName"
    label="User name"
    id="userName"
    [error]="formsService.getFormControlError(editForm, 'userName')"
  />

  <app-input
    formControlName="email"
    label="Email"
    id="email"
    [error]="formsService.getFormControlError(editForm, 'email')"
  />
</form>
