<form action="" class="grid gap-6">
  <p-floatlabel variant="in" class="w-full">
    <input pInputText id="Name" autocomplete="off" class="w-full" />
    <label for="in_label">First name</label>
  </p-floatlabel>

  <p-floatlabel variant="in" class="w-full">
    <input pInputText id="Name" autocomplete="off" class="w-full" />
    <label for="in_label">Last name</label>
  </p-floatlabel>

  <p-floatlabel variant="in" class="w-full">
    <input pInputText id="Name" autocomplete="off" class="w-full" />
    <label for="in_label">User name</label>
  </p-floatlabel>

  <p-floatlabel variant="in" class="w-full">
    <input pInputText id="Name" autocomplete="off" class="w-full" />
    <label for="in_label">Email</label>
  </p-floatlabel>
</form>
