<p-drawer
  header="Edit settings"
  [(visible)]="showDrawer"
  position="right"
  styleClass="w-full md:w-80 lg:!w-100"
>
  @if (showDrawer()) {
  <settings-form></settings-form>
  }
  <ng-template #footer>
    <div class="flex items-center gap-2">
      <p-button
        label="Cancel"
        class="w-full"
        [fluid]="true"
        [outlined]="true"
      ></p-button>
      <p-button
        label="Save"
        icon="pi pi-check"
        class="w-full"
        [fluid]="true"
        (onClick)="closeModal()"
      ></p-button>
    </div>
  </ng-template>
</p-drawer>

<p-button
  class="flex items-center justify-center rounded-full"
  (click)="toggleShow()"
  icon="pi pi-cog"
></p-button>
