<!-- Edit/Add project modal -->
@if ( isOpenProjectModal() ) {
<project-edit-modal
  [(show)]="isOpenProjectModal"
  [project]="projectToEdit()"
></project-edit-modal>
}
<!-- Edit/Add project modal -->

<section-header
  title="Dashboard"
  description="Check all your projects"
  [showTooltip]="true"
>
  <p-button
    ngProjectAs="actions"
    icon="pi pi-plus"
    class="lg:hidden"
    (click)="handleAddProject()"
  ></p-button>

  <p-button
    ngProjectAs="actions"
    icon="pi pi-plus"
    label="Add project"
    class="hidden lg:block"
    (click)="handleAddProject()"
  ></p-button>
</section-header>

<projects-list
  (editProject)="handleEditProject($event)"
  [projects]="projects()"
  [isLoading]="isLoading()"
></projects-list>
