<!-- Edit/Add project modal -->
@if ( isOpenProjectModal() ) {
<project-edit-modal
  [(show)]="isOpenProjectModal"
  [project]="projectToEdit"
></project-edit-modal>
}
<!-- Edit/Add project modal -->

<section-header
  title="Dashboard"
  description="Check all your projects"
  [showTooltip]="true"
>
  <p-button
    ngProjectAs="actions"
    icon="pi pi-plus"
    label="Add project"
    (click)="isOpenProjectModal.set(true)"
  ></p-button>
</section-header>

<projects-list (editProject)="handleEditProject($event)"></projects-list>
