<form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email" class="block text-sm/6 font-medium text-gray-900 mb-2"
      >Email address</label
    >
    <app-input
      id="email"
      label="Email address"
      formControlName="email"
      [error]="formService.getFormControlError(loginForm, 'email')"
    ></app-input>
  </div>

  <div>
    <div class="flex items-center justify-between mb-2">
      <label for="password" class="block text-sm/6 font-medium text-gray-900"
        >Password</label
      >
      <div class="text-sm">
        <a href="#" class="font-semibold text-violet-600 hover:text-violet-500"
          >Forgot password?</a
        >
      </div>
    </div>

    <with-error
      [error]="formService.getFormControlError(loginForm, 'password')"
    >
      <with-label inputId="password" label="Password">
        <p-password
          fluid
          inputId="password"
          formControlName="password"
          [class]="`w-full ${formService.getFormControlError(loginForm, 'password')? 'ng-dirty ng-invalid' : ''}`"
          [feedback]="false"
          [toggleMask]="true"
        />
      </with-label>
    </with-error>
  </div>

  <p-button type="submit" fluid class="font-bold" [disabled]="isLoading()"
    >Sign in</p-button
  >
</form>
